* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    font-family: Inter, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    min-height: 100px;
    padding: 0 30px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(223,223,223,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}
h1 {
    text-shadow: 5px -3px 4px #777;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
}
.red-letter {
    color: red;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
main {
    min-height: 80vh;
    display: flex;
}

.contact-info {
    background: rgb(147,147,147);
    background: linear-gradient(0deg, rgba(147,147,147,1) 0%, rgba(193,193,204,1) 38%, rgba(255,255,255,1) 100%);
    flex: 0 1 300px;
    padding: 10px 20px;
}
.my-foto {
    width: 100%;
}
.about-me {
    background: rgb(147,147,147);
    background: linear-gradient(0deg, rgba(147,147,147,1) 0%, rgba(193,193,204,1) 38%, rgba(255,255,255,1) 100%);
    flex: 0 1 900px;
    padding: 20px 30px;
}
h2 {
    margin-bottom: 20px;
}
h3  {
    margin-bottom: 5px;
    margin-top: 20px;
}
footer {
    background: rgb(147,147,147);
    background: linear-gradient(180deg, rgba(147,147,147,1) 0%, rgba(210,210,217,1) 100%);
    padding: 10px 40px;
    border-top: 1px solid #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-img {
    width: 100px;
}
.year {
    font-family: "Cambria Math", sans-serif;
    font-weight: bold;
    font-size: large;
}
.list-item a:link {
    padding: 5px;
}
.list-my-works {
    list-style-type: square;
}
.courses-inner {
    padding-left: 20px;
}
.list-courses-outer {
    list-style-type: circle;
}
.list-courses-inner {
    list-style-type: square;
}
.list-skills-outer {
    list-style-type: square;
}
pre {
    display: inline-block;
    background-color: #9c9c9c;
    font-family: monospace;
}
/*-------------------------------------*/
a:link {
    text-decoration: none;
    color: #222222;
}
a:visited{
    text-decoration: none;
    color: #222222;
}
a:hover {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}
a:active {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}
/*------------------------------------*/
nav a:link {
    color: #222;
    cursor: default;
    font-weight: normal;
}
nav a:visited{
    color: #222;
    cursor: default;
    font-weight: normal;
}
nav a:hover {
    color: #FFF;
    cursor: default;
    background: #222222;
    font-weight: normal;
}
nav a:active {
    color: #FFF;
    cursor: default;
    background: #222222;
    font-weight: normal;
}